@model  UrlShortener.Models.LocationModel
@using UrlShortener.ExtensionMethods

<div class="jumbotron">
    <h1>Url Shortener</h1>
    <p class="lead">Shorten URLs the simple and naive way!</p>

    <p>
        @Html.LabelFor(m => m.FullURI)
        @Html.DisplayTextFor(m => m.FullURI)
    </p>
    @*<p>
        @Html.LabelFor(m => m.ConfirmationCode)
        @Html.DisplayTextFor(m => m.ConfirmationCode)
    </p>*@

    <p>
        @Html.LabelFor(m => m.ShortURI)
        @*TODO: this should NOT be repeated in all of the views. ugh. plus, the view shouldn't build the link, anyway*@
        <a href="@Url.Content($"~/x{Model.ShortURI}")">@Request.GetBaseUrl()@Url.Content("x" + Model.ShortURI)</a>

        
    </p>
</div>

