@*@model UrlShortener.Models.UriRepository

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UriRepository</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>*@

@using UrlShortener.Models;
@using UrlShortener.ExtensionMethods

@model IRepository<UriModel>

@{
    ViewBag.Title = "Delete";
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <p>
                A list of existing URLS
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <table class="help-page-table">
            <thead>
                <tr><th>URL</th><th>Short</th><th>Delete</th></tr>
            </thead>
            <tbody>
                @foreach (var uri in Model)
                {
                    <tr>
                        <td class="api-name">
                            @uri.FullURI
                        </td>
                        <td class="api-documentation">
                            <a href="@Url.Content($"~/Redirect/{uri.ShortURI}")">@Request.GetBaseUrl()@Url.Content("Redirect/" + uri.ShortURI)</a>
                        </td>
                        <td>
                            DELETE - checkbox? I dunno. this should be a form, I guess. Or something. UGH
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </section>
</div>
